body {
    background-color: #4398bf;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

#Titulo {
    color: white;
    text-align: center;
    background-color: #fe8121;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

#Formulario {
    display: flex;
    justify-content: center;
    text-align: center;
}

#Titulo_Formulario {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    text-align: center;
}

#Subtitulo_Formulario {
    border: 3px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    height: 25px;
    width:350px;
    padding: 10px;
    box-shadow: 5px 10px;
    font-weight: bold;
}

#Formulario input {
    border: 2px solid black;
    border-radius: 4px;
}

#Formulario select {
    border: 2px solid black;
    border-radius: 4px;
}

#Formulario textarea {
    resize: none;
    border: 2px solid black;
    border-radius: 4px;
}

#Datos_Alumno {
    border: 3px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    height: 250px;
    width:350px;
    padding: 10px;
    box-shadow: 5px 10px;
}

#Datos_Persona_Recoger {
    border: 3px solid black;
    border-radius: 5px;
    background-color: white;
    margin: 10px;
    height: 250px;
    width:350px;
    padding: 10px;
    box-shadow: 5px 10px;
}

#Recogida {
    border: 3px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    padding-top: 52px;
    padding-bottom: 93px;
    margin-top: 10px;
    margin-left: 10px;
    height: 125px;
    width:350px;
    box-shadow: 5px 10px;
}

#Final {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    text-align: center;
}

#Final_boton {
    border: 3px solid black;
    border-radius: 5px;
    background-color: white;
    margin-left: 10px;
    box-shadow: 5px 5px;
    font-weight: bold;
}

#Final_boton button{
    font-weight: bold;
    font-size: 15px;
    border: none;
}

#Final_boton button:hover{
    background-color: #b7b7b7;
    cursor:pointer;
}